<Files .htaccess>
Order allow,deny
Deny from all
</Files>

<Files users.txt>
Order allow,deny
Deny from all
</Files>

<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

#AuthUserFile ./.htpasswd
#AuthType Basic
#AuthName "My restricted Area"
#Require valid-user